html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, nav, section, menu, time, mark, audio, video, canvas {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  font-size: 100%; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
  display: block; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

b, strong {
  font-weight: bold; }

abbr[title] {
  border-bottom: 1px dotted; }

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

figure {
  position: relative; }

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em; }

.normal, h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em; }

.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em; }

.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em; }

header#cover {
  margin: 0; }

header, #twoway {
  margin: 0 5.556%; }

h1, h2 {
  margin: 0.923em 0 1.385em; }

h2 {
  font-weight: normal; }

h3 {
  margin: 1.5em 0 1.5em; }

.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em; }

  #twoway .wrapper {
    float: left;
    width: 50%; } }
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    font-size: 1em; }

  header, #twoway {
    margin: 0 16.667%; } }
/* @media screen and (min-width: 1872px) */
@media screen and (min-width: 117em) {
  header, #twoway {
    margin: 0 5.556%; }

  header .wrapper {
    width: 37.5%;
    margin-left: 25%; }

  #cover .wrapper h1 {
    margin-left: 12.5%; }

  #twoway .wrapper {
    width: 25%; }

  #twoway .wrapper:first-child {
    margin-left: 25%; } }
body {
  padding-bottom: 3em; }

header#cover {
  display: block;
  overflow: auto;
  padding: 1.5em 0;
  width: 100%;
  background: url("../images/cover.jpg") center center no-repeat; }
  header#cover h1 {
    margin-top: 0;
    width: 37.5%;
    color: white;
    background: black; }
  header#cover h2 {
    color: turquoise; }

article {
  margin-top: 20px; }

article#story {
  margin: 0 5.556%; }
  article#story #district-a, article#story #district-b {
    margin-top: 3em;
    margin-bottom: 3em; }
  article#story #district-a {
    position: relative;
    width: 50%; }
    article#story #district-a .outer-canvas {
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%; }
      article#story #district-a .outer-canvas .canvas {
        overflow: hidden; }
        article#story #district-a .outer-canvas .canvas p {
          margin: 0 0.75em; }
        article#story #district-a .outer-canvas .canvas img {
          margin: 0 0.75em;
          width: 100%; }
  article#story #district-b {
    position: relative;
    width: 37.5%; }
    article#story #district-b .outer-canvas {
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%; }
      article#story #district-b .outer-canvas .canvas {
        overflow: hidden; }
        article#story #district-b .outer-canvas .canvas p {
          margin: 0 0.75em; }

.destination {
  display: block; }

#article {
  -webkit-flow-into: article_flow; }
  #article p {
    margin-bottom: 1.5em; }

article#story img#image-1 {
  width: 25%; }
article#story #region1, article#story #region2, article#story #region3 {
  box-sizing: border-box; }
article#story #region1 {
  width: 100%;
  height: 9em;
  background: #ffff99; }
article#story #region2 {
  width: 25%;
  margin: 3em 0 0 5%;
  height: 12em;
  color: red;
  background: pink;
  border-radius: 3px; }
article#story #region3 {
  width: 100%;
  height: 100%;
  background: yellow; }
article#story blockquote {
  float: left;
  margin: 3em 0;
  padding: 1.5em;
  width: 100%;
  color: turquoise;
  border-top: 1px dotted green;
  border-bottom: 1px dotted green;
  box-sizing: border-box; }
