body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.small {
  /* 13px / 18px */
  font-size: 0.813em;
  line-height: 1.385em; }

.normal, h3 {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em; }

.large, h2, h1 {
  /* 26 / 36px */
  font-size: 1.625em;
  line-height: 1.385em; }

.huge {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.143em; }

.massive {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.059em; }

.gigantic {
  /* 110px / 120px */
  font-size: 6.875em;
  line-height: 1.091em; }
