@import 'all'
@import 'shared-variables'

@mixin page-shadow
	@include box-shadow(0, 0, 6px, black)

// For Article


//	
//	
//	Four-column grid active
//	----------------------------------------
//	Margin   | #  1   2   3   4   |   Margin
//	5.55555% | %  25  50  75  100 | 5.55555%
//	
//

#dont-stop-make-believing.article
	.cover
		background: url('../images/cosplay-girl-group.jpg') top center no-repeat
		hgroup
			position: absolute
			right: 0
			bottom: 0
			left: 0
			padding: 1em
			text-align: center
			background: white
			box-sizing: border-box
			//@include border-radius(5px)
			opacity: 0.93
			text-shadow: 0 1px 2px #CCC
			h1
				margin-bottom: 0.25em
				color: #00BEE1
				font-size: 2em
				line-height: 1em
				span
					display: block
			h2
				color: black
				font-size: 1em
				font-family: 'omnes-pro'
				font-style: italic
				font-weight: 300
	article
		float: left
		width: 100%
		padding: 0
		box-sizing: border-box
		#intro
			background: transparent
			p
				//font-family: 'omnes-pro'
				//font-size: 1.15em
				//font-style: italic
				//color: #FE47BB
				//text-shadow: 0 -1px 1px darken(#FE47BB, 25%)
		.story
			padding: 2.5em $column*1
			box-sizing: border-box
			.interview
				em
					margin-bottom: 1.5em
					font-family: 'skolar'
					font-weight: 700

		#two
			float: left
			margin-bottom: 1.5em
			img
				width: 50%
		img
			float: left
			width: 100%

//	
//	
//	Eight-column grid active
//	----------------------------------------------------------------------
//	Margin   | #  1     2     3     4     5     6     7     8   |   Margin
//	5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
//	
//	
//	

/* @media screen and (min-width: 720px) */
// iPad
@media screen and (min-width: 45em) 

	#dont-stop-make-believing.article
		.cover
			hgroup
				//bottom: 0
				padding: 1.5em
				opacity: 0.95
				h1
					font-size: 4em
					//line-height: 1.385em
				h2
					margin-top: 1em
					font-size: 1em	
		article
			#intro
				p
					font-size: 1.5em
	

/* @media screen and (min-width: 984px) */
// Standard Desktop
@media screen and (min-width: 61.5em)

	#dont-stop-make-believing.article
		.cover
			hgroup
				//bottom: 0
				padding: 2.5em
				opacity: 0.93
				h1
					font-size: 5em
					//line-height: 1.385em
					span
						display: inline
				h2
//	
//	
//	Sixteen-column grid active
//	----------------------------------------------------------------------------------------------------------------------
//	Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
//	5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
//	
//	
//

/* @media screen and (min-width: 1872px) */
// Wide Desktop
@media screen and (min-width: 117em)