/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    font-size: 1em; } }
/* @media screen and (min-width: 984px) */
/* @media screen and (min-width: 1872px) */
#cafeteria-405-kitchen.article .cover {
  background: url("../images/405-kitchen_03_1000px.jpg") top left no-repeat; }
  #cafeteria-405-kitchen.article .cover #article-title.wrapper {
    position: absolute;
    right: 0;
    bottom: 20%;
    padding: 2em 5.556% 2em 3em;
    text-align: right;
    background: #fde700;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    opacity: 0.95;
    text-shadow: 0 1px 2px #cccccc;
    box-shadow: 0 1px 3px #333333; }
    #cafeteria-405-kitchen.article .cover #article-title.wrapper h1 {
      margin: 0;
      color: #33ccff;
      /* 110px / 120px */
      font-size: 6.875em;
      line-height: 1.091em;
      font-weight: 100;
      line-height: 1em; }
    #cafeteria-405-kitchen.article .cover #article-title.wrapper h2 {
      margin: 0;
      font-family: "omnes-pro", sans-serif;
      font-weight: 200;
      font-style: italic; }
#cafeteria-405-kitchen.article article {
  float: left;
  width: 100%;
  padding: 3em 0;
  box-sizing: border-box; }
  #cafeteria-405-kitchen.article article .story .wrapper.main {
    margin-left: 12.5%;
    width: 50%; }
    #cafeteria-405-kitchen.article article .story .wrapper.main h2 {
      margin: 0.5em 0 0.25em;
      font-weight: 600; }
  #cafeteria-405-kitchen.article article .image.wrapper {
    float: left;
    width: 25%;
    box-sizing: border-box; }
    #cafeteria-405-kitchen.article article .image.wrapper img {
      max-width: 100%; }
    #cafeteria-405-kitchen.article article .image.wrapper .caption {
      padding-top: 0.75em;
      border-top: 0.25em solid #e1e1e1; }
  #cafeteria-405-kitchen.article article #quote-1 {
    float: left;
    margin: 0 0.75em 0.75em -3em;
    width: 30%;
    font-family: "omnes-pro";
    font-size: 1.9em;
    font-weight: 100;
    font-style: italic;
    color: #fde700;
    line-height: 1.2em; }
