#dont-stop-make-believing.article .cover {
  background: url("../images/cosplay-girl-group.jpg") top center no-repeat; }
  #dont-stop-make-believing.article .cover hgroup {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1em;
    text-align: center;
    background: white;
    box-sizing: border-box;
    opacity: 0.93;
    text-shadow: 0 1px 2px #cccccc; }
    #dont-stop-make-believing.article .cover hgroup h1 {
      margin-bottom: 0.25em;
      color: #00bee1;
      font-size: 2em;
      line-height: 1em; }
      #dont-stop-make-believing.article .cover hgroup h1 span {
        display: block; }
    #dont-stop-make-believing.article .cover hgroup h2 {
      color: black;
      font-size: 1em;
      font-family: "omnes-pro";
      font-style: italic;
      font-weight: 300; }
#dont-stop-make-believing.article article {
  float: left;
  width: 100%;
  padding: 0;
  box-sizing: border-box; }
  #dont-stop-make-believing.article article #intro {
    background: transparent; }
  #dont-stop-make-believing.article article .story {
    padding: 2.5em 5.556%;
    box-sizing: border-box; }
    #dont-stop-make-believing.article article .story .interview em {
      margin-bottom: 1.5em;
      font-family: "skolar";
      font-weight: 700; }
  #dont-stop-make-believing.article article #two {
    float: left;
    margin-bottom: 1.5em; }
    #dont-stop-make-believing.article article #two img {
      width: 50%; }
  #dont-stop-make-believing.article article img {
    float: left;
    width: 100%; }

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  #dont-stop-make-believing.article .cover hgroup {
    padding: 1.5em;
    opacity: 0.95; }
    #dont-stop-make-believing.article .cover hgroup h1 {
      font-size: 4em; }
    #dont-stop-make-believing.article .cover hgroup h2 {
      margin-top: 1em;
      font-size: 1em; }
  #dont-stop-make-believing.article article #intro p {
    font-size: 1.5em; } }
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  #dont-stop-make-believing.article .cover hgroup {
    padding: 2.5em;
    opacity: 0.93; }
    #dont-stop-make-believing.article .cover hgroup h1 {
      font-size: 5em; }
      #dont-stop-make-believing.article .cover hgroup h1 span {
        display: inline; } }
/* @media screen and (min-width: 1872px) */
