%section#an-actors-map-of-seoul.article
	.cover
		%hgroup#article-title.wrapper
			%h1
				An Actor's <span>Map of Seoul</span>
		%h2 Seoul, according to stage actor and Daehakro fixture, Jeong In-keom
		#grid
			#horizontal
				%span
				%span
				%span
				%span
				%span
				%span
				%span
				%span
				%span
			#vertical
				%span
				%span
				%span
				%span
				%span
				%span
				%span
				%span
				%span
	%article
		#intro.bleed
			.wrapper
				%p Jeong In-keom is not a household name. He’s an actor, and a great one at that, but he’s not in your living room selling orange juice or kimchi refrigerators. Instead, you’ll find him in Daehakro, Seoul’s Broadway, Off-Broadway and Off-Off-Broadway all rolled into one. This theatre district in Jongro-gu is host to thousands of students and actors and home to about a hundred small to mid-sized (but mainly small) theatres, including Seondol Theatre where Jeong has been a long-time collaborator. Over the past 20 years, he has starred in 50-some productions and has made Daehakro his home, work and playground, but when we met him one weekend at the coffee truck on the lawn of Seondol, he admitted that he’s finally ready to branch out.
				#laminate
					%img{:src => "images/an-actors-map-of-seoul_01.jpg" }
				%p “I had a film audition today,” he said, gesturing to a folded A4 sheet on the table. The flimsy paper turned out to be his actor resume. “I discovered that kids these days laminate their resumes and headshots. Can you believe it? Laminate!”
				%p
				%p As Jeong prepares for the next phase of his career, he’s following a strict diet and fitness regimen while weaning himself off compulsive shopping sprees at his favorite flea market (although he made an exception to take us there). He introduced us to his havens—both in and out of doors—which were all located in two of the oldest neighborhoods in Seoul.
				%p With the adjoined districts in mind, we’ve mapped out the stage actor’s Seoul chronologically—from the early bird market specials in Jongro-gu to the third round of drinks at a Daehakro dive bar.				
		.story	
			.main.wrapper
				.stop
					%h3
						Sunday flea market off Dongmyo station
						%span (Hwanghakdong Flea Market [황학동벼룩시장])
					%p
						“This is not your typical gentrified flea market. Many poor people come here. And migrant workers. And Gangnam girls looking for luxury goods in a haystack. Not a lot, but a few. The cutest of them all are young middle and high school students. They want to look put together, but they don’t have the money. How cute is that? Imagine, at that age, how much they want to look good. And of course, old men with nothing to do frequent the market too. Everything I’m wearing right now is from this place. I think I’ve used about a third of my earnings last year at this market. And of course, I end up giving most of them away.”
					%img{:src => "images/an-actors-map-of-seoul_02.jpg" }						
					%h4.label
						Note
					%p
						%em Market is located just off Dongmyo station (exit 2) and only open on Sundays. Arrive early (around 10 am) if you don’t want to miss out on the gems. Most shops set up around 9 am and the market is in full swing by 12 pm.
				.stop	
					%h3 Post-shopping fare: the spiciest noodles in town
					%p
						“I love and dread this spicy naengmyeon,” said Jeong of Gitdaebong’s famously, ridiculously spicy buckwheat noodles.
						%em.inline Bibim naengmyeon
						is known for being spicy, but what this modest restaurant serves up in large silver bowls is beyond belief. “I come here sometimes after shopping but it’s not that economical at 9,000 won a bowl.”
					%img{:src => "images/an-actors-map-of-seoul_03.jpg"}
					%h4.label
						Note
					%p 
						%em This is not your standard lunch fare. If you go, order the least spiciest option and if that proves to be too much, ask for extra broth on the side to mix into your noodles.
					%h4.label
						Contact
					%p
						%em Gitdaebong (깃대봉), 02) 762-4407, 56-25 Sungin 1-dong, Jonro-gu.
				.stop		
					%h3 Books and coffee at Eum
					%p
						“Eum (이음, pronounced e-eum) specializes in art books. This underground bookstore-gallery-cafe is the only art bookstore I’m familiar with in Daehakro. This shop is beyond local; in the cafe/gallery, they play albums of singers I’ve met in Daehakro. And at the entrance are stacks of the bestselling book which became a bestselling movie starring one of my best friends.”
					%img{:src => "images/an-actors-map-of-seoul_04.jpg"}
					%h4.label
						Contact
					%p	
						%em
							%a{:href => "http://cafe.naver.com/eumartbook/"} Eum
							, 02)766-9992, 201 Hyehwa-dong, Jongro-gu.
				.stop
					%h3 
						Meditation along the walls of
						%a{:href => "http://www.bukak.or.kr/8_1.htm"} Seoul Fortress
					%p
						“I like taking the back roads of Hyehwa-dong to the top of the fortress. From there, you can see the presidential blue house. En route to the fortress, you’ll see a very affluent neighborhood to your right. That’s Sungbuk-dong (성북동). Times have changed, but back in the day, we used to call it the Beverly Hills of Seoul. On a nice day, you can see all the way to Gangnam from here. Sometimes, when I come out to Daehakro, I’ll have lunch with friends around 2 pm and I might head to Malbawi (말바위) at the end of the fortress wall and I’ll take in the vista from there. There are a lot of actors who suffer—it’s a hard profession—so you find yourself climbing a lot. For mental and physical health. The trek along the fortress is not exactly climbing—a two-hour walk at most. Many Daehakro actors are part of climbing teams and they sometimes travel in groups of 30 or 40 on Mondays. But I prefer to go alone.”
				.stop		
					%h3 Seondol Theatre					
					%p
						“My friend made this theatre. It’s only been around for about five years, but it’s become well-known very quickly among the 100 or so theatres scattered around Daehakro. Instead of accepting a lot of money to lease out the space, they shoulder the cost and host many quality productions. It’s very small, but the equipment—lighting, speakers, everything—is very nice. The envy of all directors. For the past two consecutive years, our company has swept taken the Seoul Theatre Festival, including this year’s Grand Prize with 복사꽃지면 송화날리고
						%span.highlight (Author’s note: We’re working on a reasonable translation of this title).
						The second floor houses a rehearsal room where I sometimes practice lines and help my
						%em.inline hubaes
						with theirs.”
					%h4.label
						Contact
					%p
						%em Seondol Theatre (선돌극장), 02) 747-3226, 46-11 Myeongryun 1-ga, Jongro-gu
				.stop
					%h3 Party with the stars (sorta) at Bunjangsil
					%p
						Bunjangsil (분장실) is Korean for “dressing room.” And true to its name, after 10 pm every night except Mondays, the space is brimming with thespians. When asked about this watering hole, Jeong hesitated. “Bunjangsil,” he sighed. “It’s definitely a comforting bar. I try not to go too often but I always somehow find myself there after the third or fourth round. I don’t like going there and meeting people I know all the time. It’s nice to see acquaintances, of course, but sometimes it’s tiring. A lot of actors who are going through hard times frequent this bar. Those people want to see people they know. But me, I’m different. The more I struggle, the more I want to be alone.”
					%h4.label
						Getting there
					%p	
						%em Hyehwa station (exit 1), Walk straight 50 meters and take the first right. Bunjangsil is on your right, on the second floor.
		.bottom-matter
			%p.notable.wrapper
				%em Interview has been translated from Korean.
			#order.wrapper
				%h4.label
					Note
				%p
					If you so wish to follow in Jeong’s steps, try the activities listed below on any given Sunday, as most theatres have two showings on weekends and the flea market pitches its tents on Sundays only.
			#further-reading.wrapper
				%h4.label
					Further Reading
				%p
					%a{:href => "http://seoulistmag.com/articles/read/a_vegans_map_of_seoul"} A Vegan’s Map of Seoul
					on SeoulistMag.com