#articles
	#content-scroller-wrapper
		#content-scroller
			%section#cafeteria-405-kitchen.article
				.cover
					%hgroup#article-title.wrapper
						%h1
							Cafeteria
							%br>/
							405
							%br/
							Kitchen
						%h2 Not Too Hot, Not Too Cold
				%article#story.destination
					#district-1
						#region-1.wrapper
							%h2 A just-right destination to suit your basic café needs.
							%p There’s nothing particularly extraordinary about Hongdae’s 405 Kitchen. It doesn’t break new stylistic ground, nor does it boast a menu of dishes to wow your palate. There isn’t a stage to showcase the trendiest new bands or gimmicks like underwater finger painting or skin-nibbling fish footbaths. Sure, the décor is endearing with its antique trinkets sitting atop mismatched shelving and chalkboard walls adorned with personal messages, but all this is hardly groundbreaking by Korean café standards.
							%p Instead, 405 Kitchen aims to fulfill all of your potential café needs, whether it be for work, meeting friends, or filling those in-between times with restful pause.
							%blockquote#quote-1.large
								And should you be out with your honey, floor seating is much more convenient for (discreet) side-by-side snuggling.
								%em This is an out-of-the-flow quote.
							%h2 Drinks & Eats
							%p
								The standard array of coffee drinks? Check. Beer and wine? Check. Café fare to appease your appetite? Check. Add in the free Wi-Fi and variety of seating options, and you’ve got a go-to destination in my book. Make a beeline for 405 Kitchen if, for example, you’ve got an hour before dinner and two of your friends need caffeine, another needs a beer, and you, yourself, are starving because one roll of
								%em kimbap
								at 10:30 a.m. does not qualify as lunch. Be forewarned that the main course items are somewhat overpriced, ranging from the mid- to high-teens.
							%h2 Space
							%p There is one rather unique interior feature that sets 405 Kitchen apart: A semi-lofted area in the back offers floor seating on large, comfy cushions around low, round tables. Kick off your shoes before stepping in, and enjoy the abundant view of the foliage in their veranda., which is especially nice during the day. And should you be out with your honey, floor seating is much more convenient for (discreet) side-by-side snuggling. (But please, lest I regret my words, spare us your more outrageous PDA.)
							%p
								Despite my offhand dismissal of “trendy-café-standard,” I personally like the light bulbs that line the chalkboards and the ladles hanging on the wall. The blend of quirky with the well-worn makes for a comfortable
								%em bunuigi
								(분위기), or atmosphere.
							%h2 Concluding...
							%p Next time you’re in Hongdae and need a place to park yourself, try stopping by 405 Kitchen. I think you’ll find that it’s just about right.
						#image-1.wrapper
							%img{:alt => "Sitting in Cafeteria 405 Kitchen", :src => "images/405-kitchen_03_1000px.jpg"}/
							%p.caption.small Low seating provides a comfortable escape.
			%section#dont-stop-make-believing.article
				.cover
					%hgroup#article-title.wrapper
						%h1.massive Don't Stop Make Believing
						%h2.normal Seoul's monthly cosplay conventions summon a vibrant community of adults who love to play dress up.
				%article#story
					.wrapper
						%p For those of you who are still mourning the passing of Halloween and are already planning next year’s costume, your next opportunity to go incognito may be sooner than you think. As it turns out, Seoul has a thriving community of adults who still love to play dress up, and they won’t be waiting another year to don their apparel. In fact, their next costume party is never more than a few weeks away.
						%p
							%img{:alt => "Photo by Meagan Mastriani for Seoulist", :height => "200", :src => "http://media.seoulistmag.com/images/seoulist_cosplay-dark_300px.jpg", :style => "border: 0;", :width => "300"}>/
							I’m talking about cosplayers—people who dress up as characters from anime series, movies, cartoons, or video games. Seoul’s growing crowd of cosplayers makes its appearance every month at ComicWorld Korea’s conventions, which also attracts amateur cartoonists, voice actors,
							%em manhwa
							enthusiasts (만화, or comics), and amused spectators. The two-day events are filled with activities like illustration competitions, trivia quizzes, singing contests, and, of course, a lot of pageantry.
						%p I had chanced upon a few cosplayers in Yangjae Citizen’s Park a few months ago, stragglers seeking refuge from the huge convention at the nearby aT Center. They were hidden among trees but would model for you if you asked. I admired their boldness, as well as the craftsmanship that had gone into their intricate costumes and make-up. I was curious to see what a large group of them would look like all together. On a cool October Sunday, I returned to Yangjae to satisfy that curiosity, and it was a much different scene from the ethereal wisps of fantasy I found in the forest.
						%p I hadn’t even stepped off the bus when I saw (and heard) the enormous crowd of cosplayers milling around outside the aT Center. Everywhere I looked, there was something different—a rainbow of dayglo wigs and painted skin; giggling gal pals struggling to get coordinated for a group shot; doll-like princesses poised before a ring of DSLR-toting fans; faux fighters brandishing their plastic swords; all manner of creepy and beautiful contact-covered eyes. Perhaps the strangest sight of all was the cosplayers between poses, breaking character to do mundane things like buying sodas and snapping pictures with their smart phones. It was all so overwhelming, surreal, and wildly fun.
						%p
							%img{:alt => "Photo by Meagan Mastriani for Seoulist", :height => "450", :src => "http://media.seoulistmag.com/images/seoulist_cosplay-sailor-moon_300px.jpg", :style => "border: 0;", :width => "300"}>/
							When I met U.S. Air Force videographer Sarah Brice, she was dressed as Sailor Venus wearing blue colored contacts and a shiny blonde wig. As soon as she saw me raise my camera, she knew what to do, immediately striking a pose. After I snapped a few photos, we started chatting. Before I could even finish asking for her contact information, she had already begun unzipping her knee-high white boots. She pulled out half a piece of folded notepad paper and handed it to me. All it had was her e-mail address, handwritten. It was obvious she had done this before. I complimented her technique, and she said, “Yeah, guess where I keep my cell phone!” as she coyly patted the big blue bow on her chest.
						%p Sarah is a cosplaying pro who is outgoing, affable, and totally entertaining. She’s anything but the socially awkward fanatic you might imagine meeting at one of these conventions. And she says there are lots of cool, totally normal cosplayers like her out there. On top of a number of conventions back in the States, Sarah has attended about five of the 105 ComicWorld Korea conventions and agreed to share some of her wisdom with Seoulist, in hopes that she can convince others that cosplay isn’t just for freaks and geeks:
						%p
							%em
								%strong SM: Do you think that more people should try cosplaying?
							%br/
							SB: I believe anyone who has ever enjoyed picking a costume for Halloween should try cosplaying. It’s basically a lot similar to the holiday! I bet most people have some sort of Halloween costume, so why not bring it to a convention? I realize that store-bought costumes aren’t usually up to par with the hardcore cosplayers and their fancy costumes, but it’s still a nice start!
						%p
							%em
								%strong SM: How did you feel the first time you tried it?
							%br/
							SB: The first time I cosplayed, I went all out. I made a costume from scratch, with the help of a friend. Before then, I had never sewn anything in my life! Imagine the confusion, frustration, and overall sense of accomplishment I felt when I went to Otakon 2010 and won first place in the Amateur division. It was a dream come true! The first time I cosplayed was amazing, and I never looked back! It was always fun to take pictures of the neat costumes, but to be the one that everyone is fawning over? That’s an amazing feeling, too!
						%p
							%em
								%strong SM: You said you change costumes every month. How do you pick the characters? And where do you get your outfits?
							%br/
							SB: Mostly I want characters that people can recognize—it’s more enjoyable when you see someone flip out because they love the character you represent. Many a time, I have forgotten to bring my costume, or I haven’t finished it in time, so I borrow one of my friends’ costumes. Sometimes I buy my costumes from
							= succeed "." do
								%a{:href => "http://cosplay.com/"} cosplay.com
							I don’t think I will ever buy one directly from a store, since I like the quality of a hand-made costume much better. I made my Princess Peach costume within a time period of 4 months. I am currently working on Princess Azula from the Avatar TV series.
						%p
							%img{:alt => "Photo by Meagan Mastriani for Seoulist", :height => "258", :src => "http://media.seoulistmag.com/images/seoulist_cosplay-3-girls_300px.jpg", :style => "border: 0;", :width => "300"}/
							%em
								%strong SM: How would you describe the cosplaying community in Korea?
							%br/
							SB: The Korean cosplaying community is very different than American ones and still similar in some aspects. As cosplayers, we automatically bond easier to each other since we have such an obvious common interest. Koreans are much less touchy-feely and less friendly towards total strangers than Americans, but they still do open up more at conventions than they would otherwise. Something that I have noticed and love about Korean conventions is that people will give you candy sometimes. If you let them take your picture or if you have a costume that they really love. How great is that?
						%p
							%em
								%strong SM: I’ve heard that some hard-line Koreans have a problem with cosplaying, since it’s from Japan. How do you deal with that negative attention?
							%br/
							SB: Our group knows not to be in costume outside of the convention. We get into costume at the convention. There is strength in numbers. I would like to see an anti-Japanese Korean try and angrily tell off a horde of cosplayers.
						%p I sometimes wear my wigs to the convention, and I do get a lot of stares, but usually [people] come up and compliment me. I guess they don’t realize that the bright yellow wigs aren’t my natural hair. Maybe they’re distracted by the large amounts of makeup I wear when cosplaying.
						%p
							%em
								%strong SM: Do you have any tips for first-timers?
							%br/
							SB: Maybe a warning to cosplayers [in Korea]: They will love your costume, no matter how good or bad it is, so keep that in mind! I try to keep my head from expanding too much when I go to these conventions, since everywhere I go I hear “beautiful” and “great costume” and “I love it so much!” I’m not trying to build up my ego here. It’s just something you end up experiencing at a Korean convention. When I crossplayed (dressed as a male character) at one convention, I was told I was “handsome.” See? They compliment everything!
						%p Also, cosplaying with a group of friends is way more fun than doing it by yourself. Cosplaying as a group for a certain anime or series is even more fun, but be prepared to get bombarded with a crazy amount of people wanting to take a group picture of you. Some people might find it tiring, but you could always just say “no.”
						%p —
						%p
							%em
								ComicWorld Korea’s monthly conventions alternate between Yangjae’s
								%a{:href => "http://atcenter.at.or.kr/contents/acen341100/view.action"} aT Center
								and
								%a{:href => "http://setec.or.kr/01_setec/car.jsp"} SETEC
								in Daechi-dong. To see the calendar and get more information, visit the
								%a{:href => "http://www.comicw.co.kr"} website
								(in Korean only).
						%p
							Need to learn how to make your own costume, put on your cosplay make-up, or even style your wig? Sarah recommends the forums at cosplay.com as an excellent resource for beginners.
			%section#cafeteria-405-kitchen.article
				.cover
					%hgroup#article-title.wrapper
						%h1
							Poop
							%br>/
							405
							%br/
							Kitchen
						%h2 Not Too Hot, Not Too Cold
				%article#story.destination
					#district-1
						#region-1.wrapper
							%h2 A just-right destination to suit your basic café needs.
							%p There’s nothing particularly extraordinary about Hongdae’s 405 Kitchen. It doesn’t break new stylistic ground, nor does it boast a menu of dishes to wow your palate. There isn’t a stage to showcase the trendiest new bands or gimmicks like underwater finger painting or skin-nibbling fish footbaths. Sure, the décor is endearing with its antique trinkets sitting atop mismatched shelving and chalkboard walls adorned with personal messages, but all this is hardly groundbreaking by Korean café standards.
							%p Instead, 405 Kitchen aims to fulfill all of your potential café needs, whether it be for work, meeting friends, or filling those in-between times with restful pause.
							%blockquote#quote-1.large
								And should you be out with your honey, floor seating is much more convenient for (discreet) side-by-side snuggling.
								%em This is an out-of-the-flow quote.
							%h2 Drinks & Eats
							%p
								The standard array of coffee drinks? Check. Beer and wine? Check. Café fare to appease your appetite? Check. Add in the free Wi-Fi and variety of seating options, and you’ve got a go-to destination in my book. Make a beeline for 405 Kitchen if, for example, you’ve got an hour before dinner and two of your friends need caffeine, another needs a beer, and you, yourself, are starving because one roll of
								%em kimbap
								at 10:30 a.m. does not qualify as lunch. Be forewarned that the main course items are somewhat overpriced, ranging from the mid- to high-teens.
							%h2 Space
							%p There is one rather unique interior feature that sets 405 Kitchen apart: A semi-lofted area in the back offers floor seating on large, comfy cushions around low, round tables. Kick off your shoes before stepping in, and enjoy the abundant view of the foliage in their veranda., which is especially nice during the day. And should you be out with your honey, floor seating is much more convenient for (discreet) side-by-side snuggling. (But please, lest I regret my words, spare us your more outrageous PDA.)
							%p
								Despite my offhand dismissal of “trendy-café-standard,” I personally like the light bulbs that line the chalkboards and the ladles hanging on the wall. The blend of quirky with the well-worn makes for a comfortable
								%em bunuigi
								(분위기), or atmosphere.
							%h2 Concluding...
							%p Next time you’re in Hongdae and need a place to park yourself, try stopping by 405 Kitchen. I think you’ll find that it’s just about right.
						#image-1.wrapper
							%img{:alt => "Sitting in Cafeteria 405 Kitchen", :src => "images/405-kitchen_03_1000px.jpg"}/
							%p.caption.small Low seating provides a comfortable escape.