%section#searching-for-the-little-black-pen.article
	.cover
		%hgroup#article-title.wrapper
			%h1
				Searching for the
				%em ‘Little Black Pen’
			%h2 In a crowd of pens, mon ami.
	%article#story
		.wrapper
			%p.logline In a crowd of pens, mon ami.
			%p Mon ami. French for ‘My friend’. In Korea, it’s the name of the everyday pen. More specifically, the Mon Ami 153. Over three billion Mon Amis originally priced at the cost of a newspaper or subway ride have been sold since they first went on sale in 1963. This mighty pen, strewn in living rooms to board rooms, traveled through the decades of hands that transformed postmodern Korea. What would the diligent bronze tip think now after witnessing innumerable close-ups of contracts that brought new infrastructure? How has its hexagonal plastic body endured the panicked grips of students on their race to be the brightest minds? It’s substituted for hair pins. It’s served as a makeshift toy during idle moments. No doubt it’s written the lyrics for many a K-pop star. And though the lining of the pockets in which it’s carried has certainly upgraded, the pen’s design itself has stayed the same.
			%blockquote
				%p We will never leave our beloved ‘Mon Ami’ but we did go on a quest for the ideal ‘Little Black Pen’ by testing five black ink pens commonly available in Korea.
			%p But here are some cons. At 200 won a piece, it’s a cheap pen. And it looks it. Though intensely loyal, its ink is not. We will never leave our beloved ‘Mon Ami’ but we did go on a quest for the ideal ‘Little Black Pen’. We tested five black ink pens commonly available in Korea and all priced under 2,500 won. They were judged based on three criteria: appearance, grip and writing experience. All were 0.5 mm and were purchased at a local stationery chain.
			%p
				%br/
				%strong 1. Dong-A Anygel 501
				%br/
				Price: 400 won
				%br/
				Appearance: 4 out of 5
				%br/
				Grip: 4 out of 5
				%br/
				Writing Experience: 5 out of 5
				%br/
				Total: 13
			%p For first place we had to choose the Dong-A Anygel 501 because it consistently wrote like a more expensive pen. Inspired, but toned down, from the likes of Waterman or Mont Blanc, the pen gives the user a feeling of authority despite its lightness. Ink quality is deep and consistent. Writing experience is smooth and keeps the pen moving at an agile pace. Best of all, it’s priced at 400 won, just twice the price of our trusty Mon Ami!
			%p
				%strong 2. Uni-ball Singo
				%br/
				Price: 1,250
				%br/
				Appearance: 4
				%br/
				Grip: 4
				%br/
				Writing Experience: 4
				%br/
				Total: 12
			%p The Uni-ball Singo came in at a close second primarily because its ink was not as full-bodied as the Anygel 501. As a writing instrument, the tip mimics a pen from a higher class and its long, extended torso inspires a bit of confidence (perhaps even overconfidence) in one’s hand. The crystal-esque design is not bad to look at, but one actually has to go through the trouble of recapping after use because there’s no retractable ballpoint.
			%p
				%strong 3. Dong-A U-Knock Gel
				%br/
				Price: 800 won
				%br/
				Appearance: 3
				%br/
				Grip: 3
				%br/
				Writing Experience: 3
				%br/
				Total: 9
			%p As this pen’s black ink runs down, the clear chamber shows an ugly yellow-orange trail that prematurely foreshadows the pen’s eventual decline to the rubbish bin. The ink is solid but the writing is a bit slippery. The point moves fast and you may find your hand outpacing your thoughts. The length is a bit too short for proper balance and the thin rubberized grip provides no cushion.
			%p
				%strong 4. Dong-A AnyBall 501
				%br/
				Price: 400 won
				%br/
				Appearance: 4
				%br/
				Grip: 3
				%br/
				Writing Experience: 1
				%br/
				Total: 8
			%p This pen is not bad to look at. A lot of others are based on the same design, but a bit of a ballooned top here and sharp accents there give this pen a real clean-cut look. Even the ergonomics of the rubberized grip is better than the U-Knock, but this pen falls down hard on the writing experience. The same 0.5mm tip as the others felt even smaller. The amount of ink that comes out feels stingy. In fact, the longer we kept writing with this, the more penny-pinching we felt. We imagine it’s good for clinical, anal-retentive personalities.
			%p
				%strong 5. Pilot G-2
				%br/
				Price :2,400 won
				%br/
				Appearance: 2
				%br/
				Grip: 2
				%br/
				Writing Experience: 2
				%br/
				Total: 6
			%p This pen is also plagued by the same yellow-orange run-off in the ink chamber as the U-Knock Gel. Without providing any feeling of heft, the thick chassis just makes you feel this pen is overweight and has nothing to show for it. The ink quality is a disaster with numerous white spots in our script. This pen elicits anxiety, like something is going to go wrong at any minute.
			%p
				%br/
				Our final result is that the best ‘Little Black Pen’ has a bit of white in its design, perhaps in homage to our Mon Ami standby. For its smooth writing, solid balance and ink quality, we kept going back to this pen during our trial period. But more than that, our ‘Little Black Pen’ gave us that ‘feeling’. The one of comfort and warmth of something familiar. And even better, it has workhorse dependability and performance to be there for you when only the best will suffice. And isn’t that what we all want in our friends? Perhaps our new acquaintance and our Mon Ami can become fast friends. Side by side they look compatible, no?