%footer
	%a.seoulist-link{:href => "http://seoulistmag.com"} Read all of our articles at SeoulistMag.com
	%span.copyright
		© 2010 – 2012 Seoulist Media
	%a{:href => "#"} A Seoulist Media Project

%a.shortcut{:name => "footer"}
