%footer
	%a.seoulist-link{:href => "http://seoulistmag.com"} Read all of our articles at SeoulistMag.com
	%a.seoulist-media{:href => "http://seoulistmag.com"} A Seoulist Project
	%span.copyright
		© 2010 – 2012 Seoulist Media

%a.shortcut{:name => "footer"}
