#home
	.content-scroller-wrapper
		.content-scroller
			%section#hangul-roundup.article
				%a{:href => "#hangul-roundup"}
				%hgroup
					%h1 Hangul Roundup
					%h2 Showcasing some of our favorite typefaces, designers and curiosities in celebration of Hangul Day.		
			%section#dont-stop-make-believing.article
				%a{:href => "#dont-stop-make-believing"}
				%hgroup#article-title.wrapper
					%h1
						Don't
						%span.stop Stop
						%span.make Make
						%span.believing Believing
					%h2 Seoul's monthly cosplay conventions summon a vibrant community of adults who love to play dress up.		
			%section#cafeteria-405-kitchen.article
				%a{:href => "#cafeteria-405-kitchen"}
				%hgroup#article-title.wrapper
					%h1.gigantic
						Cafeteria<span>405</span><span>Kitchen</span>
					%h2 Not Too Hot, Not Too Cold		
			%section#searching-for-the-little-black-pen.article
				%a{:href => "#searching-for-the-little-black-pen"}
				%hgroup#article-title.wrapper
					%h1
						Searching for the
						%em ‘Little Black Pen’
					%h2 In a crowd of pens, mon ami.
	#about
		#introduction.wrapper
			%h1.wrapper
				%img{:src => "images/seoulist_bug.png"}/
			%h2#volume.wrapper Volume I: MMX – MMXII
			%h2#slug.wrapper Humble Beginnings
			#overview
				%p.wrapper
					Seoulist is an English language online magazine
					%br/
					curated to feature the best of Seoul affairs, characters and curiosities.
				%p.wrapper
					Just over a year ago we set out to create the most considered
					%br/
					and contextualized overview of the city
					%br/
					for those who want to live—not just stay—in Seoul.
				#highlights
					%p
						%span.seoulist
							Seoul<span class="ist">ist</span><span class="selects">Selects</span>
						features highlights from our first 15 months.
	#history
		%h2
			A
			%span (very)
			Brief
			%span (and selective)
			History
		%h3 MMX – MMXII
		#timeline.wrapper
			%span#line
				%span#inner-line
			%span.launch
				%img{:src => "images/seoulist_bug-timeline.png"}/
			#events
				%a#stephanie-cafe.event{:href => "javascript:void(0)"}
					%span.marker
					.event-inner
						%hgroup
							%span.date February 12, 2011
							%h1 Pretty Delicious in Pink
							%h2 Tiny, understated but memorable; Stephanie Café goes beyond expectations with palatable pleasures.
						%span.read-article{:href => "#"} Read Article →
				%a#dont-stop-make-believing.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date November 11, 2011
							%h1 Don't Stop Make Believing
							%h2 Seoul's monthly cosplay conventions summon a vibrant community of adults who love to play dress up.
						%span.read-article{:href => "#"} Read Article →
				%a#hangul-roundup.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date October 7, 2011
							%h1 Hangul Roundup
							%h2 Showcasing some of our favorite typefaces, designers and curiosities in celebration of Hangul Day.
						%span.read-article{:href => "#"} Read Article →
				%a#to-be-young-and-in-love-and-swinging.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date February 22, 2011
							%h1 To Be Young and in Love and Swinging
							%h2 A rare look at the beginnings of a relationship as one couple allows us to crash their first day together.
						%span.read-article{:href => "#"} Read Article →
				%a#searching-for-the-little-black-pen.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date April 15, 2011
							%h1
								Searching for the
								%em ‘Little Black Pen’
							%h2 In a crowd of pens, mon ami.
						%span.read-article{:href => "#"} Read Article →
				%a#beef-stock-chicken-stock-out-of-stock.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date September 20, 2011
							%h1 Beef Stock, Chicken Stock, Out of Stock
							%h2 A tale of two ramyeons.
						%span.read-article{:href => "#"} Read Article →
				%a#the-empty-chair.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date March 12, 2012
							%h1 The Empty Chair
							%h2 An American sits in solidarity with Korea's Comfort Women.
						%span.read-article{:href => "#"} Read Article →
				%a#seoul-safari-six-hours-in-seoul.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date November 21, 2011
							%h1 Seoul Safari: Six Hours in Seoul
							%h2 Health and wellness aficionados’ short and sweet Seoul affair.
						%span.read-article{:href => "#"} Read Article →
				%a#extraordinary-expats-filmmaker-nj-calder.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date October 24, 2011
							%h1 Extraordinary Expats: Filmmaker NJ Calder
							%h2 American filmmaker talks zombies, Korean cops and sleepless nights in Seoul leading to his first feature film.
						%span.read-article{:href => "#"} Read Article →
				%a#an-actors-map-of-seoul.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date October 12, 2011
							%h1 An Actor's Map of Seoul
							%h2 Seoul, according to stage actor and Daehakro fixture, Jeong In-keom.
						%span.read-article{:href => "#"} Read Article →
				%a#cafeteria-405-kitchen.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date November 11, 2011
							%h1 Cafeteria 405 Kitchen: Not Too Hot, Not Too Cold
							%h2 A just-right destination to suit your basic café needs.
						%span.read-article{:href => "#"} Read Article →
				%a#around-the-corner.event{:href => "#"}
					%span.marker
					.event-inner
						%hgroup
							%span.date May 13, 2011
							%h1 Sugar and Spice and All Things Rice
							%h2 Bapjitneun Cafe takes it slow with the notoriously instant jumeokbap.
						%span.read-article{:href => "#"} Read Article →
			#dividers
				%span#one.divider
				%span#two.divider
				%span#three.divider
				%span#four.divider
				%span#five.divider
				%span#six.divider
				%span#seven.divider
				%span#eight.divider
				%span#nine.divider
				%span#ten.divider
				%span#eleven.divider
				%span#twelve.divider
				%span#thirteen.divider
				%span#end.divider
	#staff
		%a{:name => "about"}				
		#title.wrapper
			%h2
				%span.meet-our Meet Our
				%span.makers Makers<span class="and">&</span>Shakers
		#middle.wrapper
			%article#yaeri.profile
				.circle-crop
					%img{:src => "images/profile-yaeri.jpg"}/
				%h1
					Yaeri<span>Song</span>
				%h2 Editor-in-Chief
			%article#jungho.profile
				.circle-crop
					%img{:src => "images/profile-jungho.jpg"}/
				%h1
					Jungho<span>Kim</span>
				%h2 Design Director
		%article#sonja.profile.wrapper
			.circle-crop
				%img{:src => "images/profile-sonja.jpg"}/
			%h1
				Sonja<span>Swanson</span>
			%h2 Assistant Editor
		%article#meagan.profile.wrapper
			.circle-crop
				%img{:src => "images/profile-meagan.jpg"}/
			%h1
				Meagan<span>Mastriani</span>
			%h2 Content Editor
		%article#mia.profile.wrapper
			.circle-crop
				%img{:src => "images/profile-mia.jpg"}/
			%h1
				Mia<span>Kim</span>
			%h2 Copy Editor