%header.masthead
	#logo.wrapper
		%a{:href => "/"}
			%img{:src => "images/seoulist_bug.png"}
	%hgroup#mini-mast
		%h1
			%span
				Seoul<span class="ist">ist</span><span class="selects">Selects</span>
		%h2.small Bespoke Lifestyle & Culture
	%nav
		%span.previous-container
			%a.pagination-previous{:href => "#"} → Previous Article
		%span.next-container
			%a.pagination-next{:href => "#"} Next Article →
		%a#trigger.view-articles.closed{:href => "#"} View All Articles