#table-of-contents
	%span#title-outer.wrapper
		%h3
			Volume I: Year One
			%span.slash /
			%span All Articles
	#article-list
		#around-the-corner.home-item.wrapper
			.thumb-crop
				%img{:src => "images/around-the-corner_4-690x460.jpg"}/
			%hgroup
				%h1 Sugar and Spice and All Things Rice
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 1
			%span.bottom-line
		#dont-stop-make-believing.home-item.wrapper
			.thumb-crop
				%img{:src => "images/cosplay-girl-group.jpg"}/
			%hgroup
				%h1 Don't Stop Make Believing
				%h2
					Words & Photos by
					%a{:href => "#credit"} Meagan Mastriani
				%h3 2011 November 1
				%h4 N°. 2
			%span.bottom-line
		#cafeteria-405-kitchen.home-item.wrapper
			.thumb-crop
				%img{:src => "images/405-kitchen_03_1000px.jpg"}/
			%hgroup
				%h1 Cafeteria 405 Kitchen
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 3
			%span.bottom-line
		#searching-for-the-little-black-pen.home-item.wrapper
			.thumb-crop
				%img{:src => "images/searching-for-the-little-black-pen_cover.jpg"}/
			%hgroup
				%h1 Mon Ami
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 4
			%span.bottom-line
		#hangul-day.home-item.wrapper
			.thumb-crop
				%img{:src => "images/jorop-jukamnida_detail.jpg"}/
			%hgroup
				%h1 Hangul Day
				%h2
					Words by
					%a{:href => "#credit"} Jenna Gibson
				%h2
					Photos by
					%a{:href => "#credit"} Yaeri Song
				%h3 2011 May 13
				%h4 N°. 5
			%span.bottom-line
		#to-be-young-and-in-love-and-swinging.home-item.wrapper
			.thumb-crop
				%img{:src => "images/playground-couple_01.jpg"}/
			%hgroup
				%h1 To Be Young And In Love And Swinging
				%h2
					Words by
					%a{:href => "#credit"} Jenna Gibson
				%h2
					Photos by
					%a{:href => "#credit"} Yaeri Song
				%h3 2011 May 13
				%h4 N°. 6
			%span.bottom-line
		#beef-stock-chicken-stock-out-of-stock.home-item.wrapper
			.thumb-crop
				%img{:src => "images/ramyeon_shinramenblack-kkokkomyeon-690px.jpg"}/
			%hgroup
				%h1 Beef Stock, Chicken Stock, Out of Stock
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 7
			%span.bottom-line
		#the-empty-chair.home-item.wrapper
			.thumb-crop
				%img{:src => "images/comfort-women_2_1000px.jpg"}/
			%hgroup
				%h1 The Empty Chair
				%h2
					Words & Photos by
					%a{:href => "#credit"} Meagan Mastriani
				%h3 2011 November 1
				%h4 N°. 8
			%span.bottom-line
		#seoul-safari-six-hours-in-seoul.home-item.wrapper
			.thumb-crop
				%img{:src => "images/seoul-safari_cover.jpg"}/
			%hgroup
				%h1 Seoul Safari: Six Hours in Seoul
				%h2
					Words by
					%a{:href => "#credit"} Jenna Gibson
				%h2
					Photos by
					%a{:href => "#credit"} Yaeri Song
				%h3 2011 May 13
				%h4 N°. 9
			%span.bottom-line
		#stephanie-cafe.home-item.wrapper
			.thumb-crop
				%img{:src => "images/stephanie-cafe_03_690px-690x459.jpg"}/
			%hgroup
				%h1 Pretty Delicious in Pink
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 February 12
				%h4 N°. 10
			%span.bottom-line
		#industrious-residents-and-artistic-students-shape-hongje-gaemi-maeul.home-item.wrapper
			.thumb-crop
				%img{:src => "images/seoulist_nick-calder_690px-690x460.jpg"}/
			%hgroup
				%h1 Extraordinary Expats: Filmmaker NJ Calder
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 11
			%span.bottom-line
		#an-actors-map-of-seoul.home-item.wrapper
			.thumb-crop
				%img{:src => "images/an-actors-map-of-seoul_cover.jpg"}/
			%hgroup
				%h1 An Actor's Map of Seoul
				%h2
					Words by
					%a{:href => "#credit"} Yaeri Song
				%h2
					Photos by
					%a{:href => "#credit"} Jungho Kim
				%h3 2011 May 13
				%h4 N°. 12
			%span.bottom-line
	#close
		%a{:href => "javascript:void(0)"} Close Article List